* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Rubik', sans-serif;
  color: rgb(68 64 60);
  background-color: rgb(245 245 244);
  padding-top: 0.8rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

button {
  cursor: pointer;
}

.btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fde68a, 0 0 0 4px white;
  background-color: rgb(253 224 71);
}

.btn {
  font-size: 1.2rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  border-radius: 0.9rem;
  border: none;
  transition: all 0.3s;
}

.btn:hover {
  background-color: #dee2e6;
}

.container {
  display: flex;
  gap: 1rem;
  max-width: 100rem;
  min-height: 110rem;
  margin: auto;
  border-radius: 9px;
}

.container .container_inner {
  border-radius: 1.1rem;
}

.container .container_left {
  font-size: 14px;
  align-self: flex-start;
  width: 25%;
  padding: 4rem 1rem;
  background-color: white;
}

.container_left_info {
  display: flex;
  margin-bottom: 2rem;
}

.container_left_info_personal {
  flex-grow: 1;
  padding-left: 0.5rem;
  padding-top: 0.5rem;
}

.container .container_left .profile_username {
  font-size: 1.4rem;
  font-weight: 600;
}

.container .container_left .profile_email {
  font-size: 1.2rem;
  color: rgb(148 163 184);
}

.container .container_left .profile_photo {
  display: block;
  width: 8rem;
  border-radius: 50%;
}

.container .container_left .buttons {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
}

.btn_edit {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.btn_logout {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.container .container_right {
  width: 75%;
  padding-right: 1rem;
}

.container .container_right .post_input {
  margin-bottom: 3rem;
}

.container .container_right .post_input #post_form {
  display: flex;
  justify-content: space-between;
  gap: 0.8rem;
}

.container .container_right .post_input #post_form .post_content_input {
  font-size: 1.6rem;
  flex-grow: 6;
  resize: none;
  border-radius: 9px;
  padding: 1rem;
  outline: none;
  border: none;
}

.post_content_input::placeholder {
  font-size: 1.4rem;
  color: rgb(148 163 184);
}

.container .container_right .post_input #post_form .post_content_input:focus {
  border: none;
  outline: 1px solid rgb(148 163 184);
}

.container .container_right .post_input #post_form .btn_post {
  background-color: rgb(250 204 21);
  font-size: 1.4rem;
  flex-grow: 1;
  border-radius: 9px;
  font-weight: 600;
  border: none;
}

#scroll-btn {
  opacity: 0;
  width: 40px;
  height: 40px;
  background-color: #ef476f;
  position: fixed;
  bottom: 10%;
  right: 10%;
  border: 2px solid #fff;
  border-radius: 50%;
  font: bold 20px monospace;
  transition: opacity 0.5s, transform 0.5s;
}
#scroll-btn.show {
  opacity: 1;
  transition: opacity 1s, transform 1s;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 55rem;
  width: 100%;
  padding: 4rem 5rem;
  background-color: #e9ecef;
  border-radius: 0.9rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  z-index: 1000;
  transition: all 0.3s ease-out;
}

.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.4rem);
  z-index: 0;
  transition: all 0.3s ease;
}

.modal input {
  font-size: 1.4rem;
  width: 100%;
  height: 4rem;
  border: none;
  border-radius: 0.4rem;
  padding-left: 1rem;
}

.modal input:focus {
  outline: 1px solid #adb5bd;
}

.modal #edit_profile_form input#edit_username {
  margin-bottom: 2px;
}

.modal #edit_profile_form input#edit_email {
  margin-bottom: 2px;
}

.modal .btns_modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.modal label {
  font-size: 1.6rem;
  font-weight: 500;
  display: block;
  margin-bottom: 0.3rem;
  padding-left: 0.4rem;
}

.modal .modal_btn {
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  padding: 12px 18px;
  border-radius: 9px;
  border: none;
  font-size: 1.6rem;
}

.modal .btn_discard_changes {
  background-color: #ff6b6b;
}

.modal .btn_save_changes {
  background-color: #0ca678;
}

.all_posts {
  position: relative;
  font-size: 1.6rem;
  padding: 0.5rem 0.8rem;
  min-height: 100%;
}

.single_post {
  font-size: 1.4rem;
  position: relative;
  padding: 2rem;
  margin-bottom: 2rem;
  border-radius: 9px;
  background-color: white;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  transition: 0.5s all ease;
}

.single_post .post_info {
  display: flex;
  margin-bottom: 1.2rem;
}

.single_post .post_info .post_img {
  width: 5rem;
  border-radius: 50%;
}

.single_post .post_info .post_details {
  padding-left: 0.5rem;
  padding-top: 0.3rem;
}

.single_post .post_info .post_details .post_username {
  line-height: 1.2;
  font-weight: 600;
}

.single_post .post_info .post_details .post_date {
  font-size: 1.2rem;
  color: rgb(148 163 184);
}

.single_post .post_content {
  margin-bottom: 1rem;
}

.single_post .total_likes {
  color: rgb(148 163 184);
  margin-bottom: 1.4rem;
}

.single_post .post_buttons {
  display: flex;
  gap: 0.5rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  /* color:rgb(148 163 184); */
}

.single_post .post_remove_btn {
  position: absolute;
  background-color: #fff;
  top: 1.3rem;
  right: 1.4rem;
  border: none;
  font-size: 3rem;
  border-radius: 9px;
  padding-left: 7px;
  padding-right: 7px;
}

.single_post .post_btn {
  background-color: white;
  text-transform: uppercase;
  color: rgb(148 163 184);
  font-weight: 700;
  font-size: 1.2rem;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0.6rem;
  border: none;
  border-radius: 9px;
  transition: 0.5s all ease;
}

.single_post .post_buttons .liked_post {
  font-weight: 700;
  color: rgb(234 179 8);
}

.all_posts .single_post .comments_wrapper {
  display: none;
}

.all_posts .single_post .comments_wrapper .single_comment {
  position: relative;
  background-color: #e7eaed;

  padding: 1rem 1.5rem;
  margin-bottom: 0.8rem;
}

.all_posts .single_post .comments_wrapper .single_comment .btn_comment_delete {
  position: absolute;
  top: 0.1rem;
  right: 0.8rem;
  border: none;
  font-size: 2.1rem;
}

.all_posts .single_post .comments_wrapper .single_comment .comment_date {
  font-size: 1.4rem;
}

.comment_author {
  font-weight: 500;
}

#post_comment_form {
  display: flex;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

#post_comment_form .post_comment_input {
  padding-left: 10px;
  width: 80%;
  height: 3rem;
  border-radius: 0.9rem;
  border: 1px solid black;
}

#post_comment_form .add_comment_btn {
  border-radius: 9px;
  border: 1px solid black;
  width: 20%;
}

.container_right .filter_buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.6rem;
}

ion-icon {
  font-size: 22px;
}

.no_posts_message {
  font-size: 2.4rem;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error_load_posts {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 500;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #f38e82;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;

  position: absolute;
  left: 50%;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.error_message {
  display: flex;
  font-size: 14px;
  margin-bottom: 10px;
}

.error_message ion-icon {
  font-size: 1.9rem;
  margin-right: 0.2rem;
}

.error_message span {
  font-size: 1.6rem;
}

button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
  border: 1px solid #ccc;
  opacity: 0.6;
}

/* ///////////////////////////////// MEDIA QUERIES //////////////////////////////////////// */

@media (max-width: 600px) {
  .modal {
    width: 90%;
    padding: 4rem 3rem;
  }

  .modal .modal_btn {
    gap: 0.2rem;
  }
}

@media (max-width: 700px) {
  .container .container_left {
    width: 30%;
  }
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;
  }

  .container .container_left {
    width: 95%;
    align-items: center;
    align-self: center;
  }

  .container .container_right {
    width: 95%;
  }

  .container .container_left_info {
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .container .container_left_info_personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .container_left .buttons {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .container .container_inner {
    width: 100%;
  }
}
@media (max-width: 460px) {
  .modal {
    padding: 4rem 2rem;
  }

  .modal .modal_btn {
    font-size: 1.4rem;
  }
}

@media (max-width: 400px) {
  .modal .modal_btn {
    padding: 1rem;
  }
}
