* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Rubik', sans-serif;
  color: rgb(68 64 60);
  background-color: rgb(245 245 244);
}

.logo {
  text-align: center;
}

.logo img {
  width: 25rem;
  height: 25rem;
}

h1 {
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 6.4rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  height: 100vh;
}

.btn {
  cursor: pointer;
}

.main_wrapper {
  width: 65rem;

  padding: 5rem 6rem;
  background-color: white;
  border-radius: 9px;

  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
}

.main_wrapper h2 {
  font-size: 2.2rem;
  text-align: center;
  margin-bottom: 2rem;
  line-height: 1.5;
}

.main_wrapper form label {
  display: block;
  font-size: 1.4rem;
  margin-bottom: 0.4rem;
}

form label {
  padding-left: 0.4rem;
}

form input {
  font-size: 1.4rem;
  border: 1px solid rgb(231 229 228);
  border-radius: 8px;
}

form input:focus {
  outline: none;
  outline-offset: 4px;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 1), 0 0 0 3px white;
}

form input::placeholder {
  font-size: 1.4rem;
  font-weight: 300;

  color: rgb(168 162 158);
}

.main_wrapper form input {
  width: 100%;
  padding-left: 1rem;
  height: 5rem;
  margin-bottom: 0.4rem;
}

.main_wrapper form input:nth-child(4) {
  margin-bottom: 3.2rem;
}

.login_btn_wrapper {
  display: flex;
  justify-content: center;
}

.login_btn_wrapper .btn {
  font-size: 1.4rem;
  margin-top: 10px;
  text-transform: uppercase;
  width: 100%;
  height: 5rem;
  font-weight: 600;
  border-radius: 9px;
  border: none;
  color: rgb(68 64 60);

  background-color: rgb(250 204 21);
  transition: 0.3s all;
}

.login_btn_wrapper .btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fde68a, 0 0 0 4px white;
  background-color: rgb(253 224 71);
}

.login_btn_wrapper .login_btn:hover {
  background-color: rgb(253 224 71);
}

.register_wrapper {
  max-width: 55rem;
  text-align: center;
  font-size: 1.4rem;
}

.register_wrapper p {
  margin-bottom: 0.5rem;
}

.register_wrapper .register_btn {
  background-color: rgb(250 204 21);
  font-size: 1.4rem;
  padding: 13px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
}

.register_wrapper .register_btn:focus {
  outline: none;
  box-shadow: 0 0 0 2px #fde68a, 0 0 0 4px white;
  background-color: rgb(253 224 71);
}

.modal_window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 65rem;
  width: 100%;
  padding: 5rem 6rem;
  background-color: white;
  border-radius: 0.9rem;
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  z-index: 1000;
  transition: all 0.5s ease;
}

.modal_window .close_modal {
  background-color: white;
  position: absolute;
  font-size: 4rem;
  right: 3rem;
  top: 2rem;
  border: 0;
  cursor: pointer;
}

.modal_window .close_modal:focus {
  outline: none;
  outline-offset: 2px;
  box-shadow: 0 0 0 2px rgba(250, 204, 21, 1), 0 0 0 3px white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(0.4rem);
  z-index: 100;
  transition: all 0.5s ease;
}

.modal_window h2 {
  font-size: 2.4rem;
  text-align: center;
  margin-bottom: 2.4rem;
  line-height: 1.5;
}

.modal_window .register_form_wrapper #register_form label {
  font-size: 1.4rem;
  display: block;
  font-weight: 400;
  margin-bottom: 0.4rem;
}

.modal_window .register_btn_wrapper {
  display: flex;
  justify-content: center;
}

.modal_window .register_btn {
  width: 100%;
  height: 5rem;
  font-size: 1.6rem;
  font-weight: 700;
  border-radius: 0.9rem;
  border: none;
  color: white;

  background-color: rgb(250 204 21);
}

.modal_window .register_form_wrapper #register_form div {
  margin-bottom: 1.2rem;
}

.modal_window .register_form_wrapper #register_form input {
  width: 100%;
  padding-left: 1rem;
  height: 5rem;
}

.modal_window .register_form_wrapper #register_form ul {
  list-style: none;
  font-size: 1.5rem;
  color: #e03131;
}

.modal_window .register_form_wrapper #register_form ul li {
  display: flex;
}

.modal_window .register_form_wrapper #register_form ul li ion-icon {
  font-size: 1.9rem;
  margin-right: 0.2rem;
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.error_message {
  display: flex;
  color: red;
  font-size: 14px;
  margin-bottom: 10px;
}

.error_message ion-icon {
  font-size: 1.9rem;
  margin-right: 0.2rem;
}

.error_message span {
  font-size: 1.4rem;
}

button[disabled] {
  background-color: #ccc;
  color: #999;
  cursor: not-allowed;
  border: 1px solid #ccc;
  opacity: 0.6;
}

@media (max-width: 700px) {
  .modal_window {
    width: 90%;
    padding: 5rem;
  }

  .main_wrapper {
    width: 90%;
    padding: 4rem;
  }
}

@media (max-width: 600px) {
  .modal_window {
    padding: 5rem 2.5rem;
  }

  .modal_window .register_form_wrapper #register_form input {
    height: 4rem;
  }

  .main_wrapper {
    padding: 3rem;
  }

  .main_wrapper h2 {
    font-size: 2rem;
  }

  .main_wrapper form label {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 0.2rem;
  }

  .main_wrapper form input {
    font-size: 1.4rem;
    height: 4rem;
    padding: 8px 12px;
  }

  .main_wrapper form input::placeholder {
    font-size: 1.4rem;
  }

  .login_btn_wrapper .btn {
    font-size: 1.4rem;
    height: 4rem;
  }
}
